@page
@model Rules
@{
    ViewData["Title"] = "Rules of the game";
    ViewData["SecondTitle"] = "The Goal:";
}
<h1>@ViewData["Title"]</h1>

<p>
    You have a field of size N*N. There are switches placed on it, which are arranged vertically or horizontally.
</p>

<p>
    By pressing the switch, the entire crosspiece turns, that is, the entire row and the entire column change.
</p>

<h3>@ViewData["SecondTitle"]</h3>

<p>Position all the switches so that they are either all horizontal or all vertical</p>